NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nestjs_api?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379

PAYSTACK_SECRET_KEY=sk_test_replace_me
JWT_SECRET=change_me_to_a_long_random_string